<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="navbar">
        <a class="active" href="index.html">Home</a>
        <a href="./pages/news.html">News</a>
        <a href="./pages/contact.html">Contact Us</a>
        <a href="./pages/blog.html">Blog</a>
        <a href="./pages/about.html" class="right">About Us</a>
    </div>
    
    <div class="header" id="homepagefont">
            <h1>National Park HOME PAGE</h1>
            <p>A website created by Veli-Pekka Mäki.</p>
            <!--*
            <div class="slideshow-container">

                    <div class="slides fade">
                      <img src="./images/home.png" style="width:100%">
                      <div class="slidetext">Caption Text</div>
                    </div>
                    
                    <div class="slides fade">
                      <img src="./images/news.jpg" style="width:100%">
                      <div class="slidetext">Caption Two</div>
                    </div>
                    
                    <div class="slides fade">
                      <img src="./images/contact.jpg" style="width:100%">
                      <div class="slidetext">Caption Three</div>
                    </div>
                    <div class="slides fade">
                        <img src="./images/blog.jpg" style="width:100%">
                        <div class="slidetext">Caption Three</div>
                    </div>
                    <div class="slides fade">
                        <img src="./images/about.jpg" style="width:100%">
                        <div class="slidetext">Caption Three</div>
                    </div>
            
            </div>
            <br>

            <div style="text-align:center">
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
                
            </div>

            *-->
    </div>
    <div class="row">
        <div class="side"> 
            <h2>Culpa qui</h2>
            <h5>Qui officia</h5>
            <p>Some text about me in culpa qui officia deserunt mollit anim.</p>
            <h5>Dolor cursus</h5>
            <p>Condimentum in risus sem, tempor nulla, integer arcu ornare. Egestas venenatis pellentesque, suspendisse eget</p>
            <h5>Quisque metus</h5>
            <p>Placerat lectus fermentum malesuada vestibulum hic nec, nulla ipsum vel. Eleifend sed tellus fermentum.</p>
            <p><br><br></p>
        </div>
        <div class="main">
            <h2>Officia deserunt</h2>
            <h5>Mollit anim</h5>
            <p>Volutpat ultrices placerat nunc molestie in, tincidunt placerat vulputate mus mauris donec, rutrum sem mauris eu mattis.</p>
            <h5>Accumsan eu laoreet</h5>
            <p>Suspendisse vestibulum et dolor libero, vel cursus magnis ac. Et lobortis integer aliquam, in aenean massa vivamus id, wisi nisl tempor fringilla interdum, sapien fusce pede tortor auctor phasellus, tellus placerat dolor convallis odio nulla in. Nunc senectus, a tristique, elit feugiat pretium vestibulum amet id. Pellentesque dui dignissim eu luctus laborum.</p>
            <h5>Condimentum suscipit</h5>
            <p>Maiores amet auctor sit vestibulum lorem, quisque metus consectetuer ac urna massa phasellus. Metus est nulla suspendisse eget facilisis nulla, turpis pede vel fringilla ad, ut suspendisse sapien ornare dignissim vel. Placerat lectus fermentum malesuada vestibulum hic nec, nulla ipsum vel. Eleifend sed tellus fermentum. Duis faucibus lacinia, vestibulum et. Lacus scelerisque, at sed, nec mi etiam quis quis. Iste nulla ut. Nec ipsum, pellentesque placerat luctus.</p>
            <p><br><br></p>
        </div>
    </div>
    <div class="footer">
        <h2>© Veli-Pekka Mäki</h2>
    </div>
    <!--*<script type="text/javascript" src="./js/home.js"></script>*-->
</body>
</html>