<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="./news.html">News</a>
        <a href="./contact.html">Contact Us</a>
        <a href="./blog.html">Blog</a>
        <a class="active right" href="./about.html" >About Us</a>
        <a href="#" class="right fa fa-youtube"></a>
        <a href="#" class="right fa fa-twitter"></a>
        <a href="#" class="right fa fa-facebook"></a>
         
         
        
    </div>

    <div id="aboutpic" class="header">
        <h1>National Park Website - About</h1>
        <p>A website created by me.</p>
        <address>
            Katu<br>
            Liminka,<br>
            FIN 91900<br>
            EUROPE
         </address>
         
    </div>
<!--
    <div class="row">
        <div class="side">...</div>
        <div class="main">...</div>
    </div>
-->
    <div class="footer">
        <h2>© Veli-Pekka Mäki</h2>
    </div>
</body>
</html>