<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="./news.html">News</a>
        <a class="active" href="./contact.html">Contact Us</a>
        <a href="./blog.html">Blog</a>
        <a href="./about.html" class="right">About Us</a>
    </div>
    <div class="row">
        <div id="contactpic" class="side">...</div>
        <div class="mainpages">
                <h3>Contact Form</h3>
            <div class="container">
                <form action="#">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                  <input type="submit" value="Submit">
                </form>
              </div>
        </div>
    </div>
    <div class="footer">
        <h2>© Veli-Pekka Mäki</h2>
    </div>
</body>
</html>