<!DOCTYPE html>
<html lang="en">
<head>
    <title>News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/news.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a class="active" href="./pages/news.html">News</a>
        <a href="./contact.html">Contact Us</a>
        <a href="./blog.html">Blog</a>
        <a href="./about.html" class="right">About Us</a>
    </div>
    <div class="row">
        <div id="newspic" class="side">...</div>
        <div class="mainpages">
            <p>Cras senectus, luctus in sed placerat sociosqu. Mauris lectus molestie, laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros erat bibendum vestibulum at cursus lacus, turpis wisi et lobortis dignissim aliquam, duis dui tincidunt leo. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span>
                <span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.
                    Odio pede lorem nec accumsan mollis, sed adipiscing. Sed pretium harum metus pellentesque vivamus, sem tellus curabitur, voluptatum ut, tortor nisl odio donec, eget viverra. Aptent risus aenean, sed morbi integer interdum in lacinia, arcu non per, a libero.
                </span>
            </p>
            <button onclick="myFunction()" id="myBtn">Read more</button>
       </div>
    </div>
    <div class="footer">
        <h2>© Veli-Pekka Mäki</h2>
    </div>
</body>
</html>